@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
:root {
    --bg-button-dark-grey:  #1E90FF;
    --bg-button-light-grey: #ADD8E6;
    --bg-button-darker-grey: #6495ED;
    --bg-white: #FFFFFF;
    --bg-very-lightlgrey: #f9f9f9;
    --border-radius: 4px;
    --icon-width: 48px;
    --icon-height: 48px;
    --padding: 14px;
    font-family: 'Poppins', sans-serif;
}
/* navbar start */
*{
    scroll-behavior: smooth;
}
body {
    background-color: var(--bg-very-lightlgrey);
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 48px;
    box-shadow: 0px 5px 5px var(--bg-button-light-grey);
    padding: 5px;
    background-color: var(--bg-white);
}

.logonav2{
    display: none;
}
/* .search-container{
    margin-right: -40px;
} */
.search-container input{
    height: 42px;
    width: 236px;
    border-radius: var(--border-radius);
    border: 1px solid var(--bg-button-light-grey)
}
.search-container button{
    width: var(--icon-width);
    height: var(--icon-height);
    background-color: var(--bg-button-dark-grey);
    border-radius: var(--border-radius);
    border: none;
    color: var(--bg-white);
    transition: .5s;
}
.search-container button:hover {
    background-color: var(--bg-button-darker-grey);
}
.icons{
    display: flex;
    
}

.bola {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    border:none;
    background-color: hsl(0, 98%, 50%);
    position:absolute;
    margin-top: 2px;
    cursor: pointer;
}

.pic{
    background-image: url(/assets/Rectangle\ 71.png);
    background-size: 100%;
    width: var(--icon-width);
    height: var(--icon-height);
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    
}
.navicon{
    width: var(--icon-width);
    height: var(--icon-height);
    background-color: var(--bg-button-light-grey);
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-right: 5px;
    transition: .5s;
    position: relative;
}
.navicon:hover{
    background-color: var(--bg-button-dark-grey);
}
.navicon img{
    width: 20px;
    height: 20px;
    margin-left: 14px;
    margin-top: 14px;
}

section{
    display: flex;
    justify-content:space-between;
    margin: 30px;
}
.personal{
    width: 325px;
    height: 710px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;
    border: 1px solid var(--bg-button-light-grey);
    border-radius: var(--border-radius);
    background-color: var(--bg-white);
}
.personal h1{
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
}
.personal p{
    font-weight: 350;
}
.personal span{
    font-weight: 200;
}

.personal_data{
    display: flex;
    align-items: center;
    justify-content: center;

}
.followers{
    width: auto;
    align-items: center;
    margin-right: 130px;
    cursor: pointer;
}

.menu{
    width: 300px;
    border-top: 1px solid var(--bg-button-light-grey);
    padding: var(--padding);
    text-align: left;
    height: 170px;
    display: flex;
    justify-content: center;
}
.menu-item{
    width: 300px;
    height: 50px;
    display: flex;
    margin: auto;
    font-weight: bold;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px 0px 10px;
    cursor: pointer;

}
.menu-item:hover{
    background-color: var(--bg-button-light-grey);
    border-radius: var(--border-radius);
}
.feed{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:var(--bg-white);
}
.story {
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
    width: 516px;
    height: 172px;
    gap: 8px;
    overflow-y: hidden;
    background-color: var(--bg-white);
}

::-webkit-scrollbar{
    background-color: var(--bg-button-light-grey);
    border-radius: 6px;
    height: 8px;

}

::-webkit-scrollbar-thumb{ 
    background-color: var(--bg-button-dark-grey);
    border-radius: 6px;
    height: 8px;
} 
::-webkit-scrollbar-thumb:hover{
    background-color: var(--bg-button-darker-grey);
}

.texto {
    display: flex;
    margin: 10px;
    border: 1px solid var(--bg-button-light-grey);
    width: 502px;
    height: 175px;
    flex-direction: column;
    border-radius: var(--border-radius);
    background-color: var(--bg-white);
}

.texto div a {
    text-decoration: none;
    color: var(--bg-button-dark-grey);
}

#img{
    width: 45px;
    height: 45px;
    border-radius: 4px;
    padding: 10px;
}

#textarea{
    width: 418px;
    height: 96px;
    border-radius: 4px;
    border: 1px solid var(--bg-button-light-grey);
}

#link{
    width: 34px;
    height: 14px;
    padding:10px;
    font-family: 'Roboto';

    font-weight: 500;
    font-size: 12px;
    color: var(--bg-button-dark-grey);
}

.postContent{
    display: flex;
    align-items: flex-start;
    justify-content: end;
    margin-right: 10px;

}

.headerPub{
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

.headerPub img {
    margin-right: 10px;
}

.headerPub p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}

.headerPub span {
    display: flex;
    align-items: flex-start;
    margin-top: 9px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    
}

.pub {
    padding: 10px;
    font-size: 16px;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    line-height: 20px;
    padding-top: 0;
}

.pubButtons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pubButtons a {
    text-decoration: none;
    color: var(--bg-button-dark-grey);
    margin-left: 155px;
}

.pubButtons p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 10px;
}


.pubComent{
    display: flex;
    align-items: center;
    max-width: 480px;
    border-top: 1px solid var(--bg-button-light-grey);
    margin-left: 10px;
}

.pubComent input {
    width: 415px;
    height: 42px;
}

.botao{
    background: var(--bg-button-dark-grey);
    height: 27px;
    border-radius: 4px;
    padding: 4px 8px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: var(--bg-button-light-grey);
    border: none;
    margin: 7px;
    cursor: pointer;
    transition: .5s;
}

.botao:hover{
    background-color: var(--bg-button-darker-grey);
}

.send{
    width: 103px;
    height: 47px;
    margin-top: 8px;
    background: var(--bg-button-dark-grey);
    border-radius: 4px;
    border: none;
    color: var(--bg-button-light-grey);
    cursor: pointer;
    margin-left: 65px;
    transition: .5s;
}

.send:hover{
    scale: 1.05;
}

.publicacao1 {  
    display: block;
    margin: 10px;
    border: 1px solid var(--bg-button-light-grey);
    width: 500px;
    border-radius: var(--border-radius);
    background-color: var(--bg-white);        
}
   
.publicacao1 h1{
    display: flex;
    width: 135px;
    height: 23px;
    font-weight: 700;
    font-size: 19px;
    align-items: flex-end;
    color: #000000;
    cursor: pointer;
}

.input{
    box-sizing: border-box;
    align-items: center;
    width: 418px;
    height: 32px;
    background:var(--bg-white);
    border: 1px solid var(--bg-button-light-grey);
    border-radius: 4px;
    width: 418px;
    height: 48px;
    margin-bottom: 12px;
}

.contatos{
    display: grid;
    width: 340px;
    align-items: flex-start;
    height: 600px;
}

.contatos1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--bg-button-light-grey);
    border-radius: var(--border-radius);
    height: 425px;
    padding: 15px;
    gap: 15px;
    background-color: var(--bg-white);
}

.button_contatos1{
    width: 300px;
    height: 48px;
    background: var(--bg-button-dark-grey);
    border-radius: var(--border-radius);
    margin: auto;
    margin-bottom: 0;
    color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 19px;
    border: none;
    font-size: 16px;
    transition: .5s;
}

.button_contatos1:hover{
    background-color: var(--bg-button-darker-grey);
    cursor: pointer;
}

.cardchar{
    display: flex;
    width: 300px;


}

.cardchar h2{
    font-weight: bold;
    font-size: 24px;
    align-items: flex-end;
}

.cardchar p{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13px;
}

.char1{
    margin-top: 20px;
}

.textobotao{
    display: grid;
    margin: auto;
    margin-left: 10px;
    cursor: pointer;
}

.contatos1 h1{
   font-weight: bolder;
   font-size: 25px;
}

.buttonadd{
    width: 30px;
    height: 30px;
    background-color: var(--bg-button-light-grey);
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    border-radius: var(--border-radius);
    margin-right: 0;
    transition: .5s;
    cursor: pointer;
}

.buttonadd:hover{
    background-color: var(--bg-button-dark-grey);
    scale: 1.1;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    width: auto;
    height: auto;
    background-color: var(--bg-white);
    border-radius: var(--border-radius);
    border: 1px solid var(--bg-button-light-grey);
    margin-top: 20px;
    position: relative;
}

.news h1{
    font-weight: bolder;
    font-size: 25px;
}

.news h2{
    font-weight: 500;
    font-size: 15px;
}

.news p{
    font-weight: 200;
    font-size: 12px;
}

.textnews{
    margin-top: 20px;
    cursor: pointer;
}

.arrow{
    width: 48px;
    height: 48px;
    border-radius: var(--border-radius);
    background-color: var(--bg-button-darker-grey);
    position: absolute;
    top: -15px;
    right: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px var(--bg-button-light-grey);
    transition: .5s;
    cursor:pointer;
}

.arrow:hover{
    scale: 1.1;
}

@media (max-width:992px){
    .contatos{
        display: none;
    }
}

@media (max-width:667px){
    .personal{
        display: none;
    }
    .contatos{
        display: none;
    }
    .gear{
        display: none;
    }
    .logonav{
        margin-top: 0;
        margin-left: 0;
        display: none;
    }
    .logonav2{
        display: block;
    }
    .logonav img{
        width: 30px;
    }
    .search-container {
        margin-right: 0px;
    }
    
    section{
        margin: 0;
        margin-top: 30px;
        justify-content: center;
    }
    .feed{
        width: 80vw;
        margin-left: 10px;
    }
}
