@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
:root {
    --bg-button-dark-grey:  #949494;
    --bg-button-light-grey: #E0E0E0;
    --bg-button-darker-grey: #474747;
    --bg-white: #FFFFFF;
    --border-radius: 4px;
    --icon-width: 48px;
    --icon-height: 48px;
    --padding: 14px;
    font-family: 'Poppins', sans-serif;
}
/* navbar start */
<<<<<<< HEAD

body{
 text-decoration: none;
=======
body {
    background-color: #f9f9f9;
>>>>>>> 9a97b7560499acdde5a078de26412b40c1c793d2
}
nav {
    display: flex;
    justify-content: space-around;
    height: 48px;
    box-shadow: 0px 5px 5px var(--bg-button-light-grey);
    padding: 5px;
    background-color: var(--bg-white);
}
.logonav{
    margin-top: 5px;
    margin-left: -50px;
}
.search-container{
    margin-right: -40px;
}
.search-container input{
    height: 42px;
    width: 236px;
    border-radius: var(--border-radius);
    border: 1px solid var(--bg-button-light-grey)
}
.search-container button{
    width: var(--icon-width);
    height: var(--icon-height);
    background-color: var(--bg-button-dark-grey);
    border-radius: var(--border-radius);
    border: none;
    color: #fff;
}
.icons{
    display: flex;
}

.pic{
    background-image: url(/assets/Rectangle\ 71.png);
    background-size: 100%;
    width: var(--icon-width);
    height: var(--icon-height);
    border-radius: 7px;
    overflow: hidden;
}
.navicon{
    width: var(--icon-width);
    height: var(--icon-height);
    background-color: var(--bg-button-light-grey);
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-right: 5px;
}
.navicon img{
    width: 20px;
    height: 20px;
    margin-left: 14px;
    margin-top: 14px;
}
section{
    display: flex;
    justify-content:space-between;
    margin: 30px;
}
.personal{
    width: 400px;
    height: 775px;
    text-align: center;
    display: grid;
    border: 1px solid var(--bg-button-light-grey);
    border-radius: var(--border-radius);
    background-color: var(--bg-white);
}
.personal h1{
    font-weight: bolder;
    font-size: 30px;
    margin-top: -60px;
}
.personal p{
    font-weight: 350;
    margin-top: -90px;
}
.personal span{
    font-weight: 200;
    margin-top: -135px;
}

.personal_data{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -185px;

}
.followers{
    width: auto;
    align-items: center;
    margin-right: 130px;
}
<<<<<<< HEAD

.contatos {
    background-color: blueviolet;
    width: 300px;
    height: 800px;
}
=======
.feed{
    background-color: aqua;
    width: 500px;
    height: 1000px;
}

>>>>>>> 9a97b7560499acdde5a078de26412b40c1c793d2
.menu{
    width: 300px;
    border-top: 1px solid var(--bg-button-light-grey);
    margin-top: -100px;
    margin-left: 35px;
    padding: var(--padding);
    text-align: left;
    height: 150px;
}
.menu-item{
    width: 300px;
    height: 50px;
    display: flex;
    margin: auto;
    font-weight: bold;
    align-content: center;
}
.menu-item:hover{
    background-color: var(--bg-button-light-grey);
    border-radius: var(--border-radius);
}
<<<<<<< HEAD

.feed{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:#FFFFFF;
    
   
}

.story {
    display: flex;
    overflow-x: scroll;
    box-sizing: border-box;
    justify-content: space-between;
    width: 516px;
    height: 172px;
    gap: 8px;
    overflow-y: hidden;

    
}

::-webkit-scrollbar{
    background-color: #E0E0E0;
    border-radius: 6px;
    height: 8px;

}

::-webkit-scrollbar-thumb{ 
    background-color: #ADADADAD;
    border-radius: 6px;
    height: 8px;
} 

.texto {
    display: flex;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid var(--bg-button-light-grey);
    width: 502px;
    height: 175px;
    align-self: baseline;
    flex-direction: column;
    border-radius: var(--border-radius);
}

.texto div a {
    text-decoration: none;
    color: var(--bg-button-dark-grey);
}

.postContent{
    display: flex;
    align-items: flex-start;
    justify-content: end;
    margin-right: 10px;

}

.headerPub{
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

.headerPub img {
    margin-right: 10px;
}

.headerPub p {
    color: var(--bg-button-dark-grey);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}

.headerPub span {
    display: flex;
    align-items: flex-start;
    margin-top: 9px;
    color: var(--bg-button-dark-grey);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    
}

.pub {
    padding: 10px;
    font-size: 16px;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    line-height: 20px;
    padding-top: 0;
}

.pubButtons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pubButtons a {
    text-decoration: none;
    color: var(--bg-button-dark-grey);
    margin-left: 155px;
}

.pubButtons p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 10px;
}
#img{
    width: 42px;
    height: 42px;
    border-radius: 4px;
    padding: 10px;
}

.pubComent{
    display: flex;
    align-items: center;
    max-width: 480px;
    border-top: 1px solid #E0E0E0;
    margin-left: 10px;
}

.pubComent input {
    width: 415px;
    height: 42px;
}



#textarea{
    width: 418px;
    height: 96px;
    border-radius: 4px;
    border: 1px solid rgba(199, 199, 199, 1);
}

#link{
    position: relative;
    width: 34px;
    height: 14px;
    padding:10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #949494;



}

.botao{
    background: #949494;
    width: auto;
    height: 27px;
    border-radius: 4px;
    padding: 4px 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #F9F9F9;
    border: none;
    margin: 8px;
    cursor: pointer;
    
}



.send{
    width: 103px;
    height: 47px;
    padding: 14px 28px;
    gap: 8px;
    margin-top: 8px;
    background: #474747;
    border-radius: 4px;
    border: none;
    color: #F9F9F9;
    cursor: pointer;
    margin-left: 65px;
}
.publicacao1 {  
        display: block;
        margin: 10px;
        border: 1px solid var(--bg-button-light-grey);
        width: 500px;
        border-radius: var(--border-radius);
}
   
.publicacao1 h1{
    display: flex;
    flex-wrap: wrap;
    width: 135px;
    height: 23px;
    
  
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    
    display: flex;
    align-items: flex-end;
    color: #000000;
}

#link2 {
    display: flex;
    align-self: flex-end;
    width: 34px;
    height: 14px;
    font-size: 12px;
    color: #949494;
}

.paragrafoUm {
    display: block;
    padding: 16px;
}

.ninaSimone{
    display: flex;
    align-items: center;
  
}


.comentario{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    
}

.input{
    box-sizing: border-box;
    align-items: center;
    width: 418px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 4px;
    width: 418px;
    height: 48px;
    margin-bottom: 12px;


}

.publicacao2{
    display: block;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(224, 224, 224, 1);
    width: 502px;
    height: 328px;
    left: 485px;
    top: 284px;
    align-self: baseline;
}

.publicacao2 h1{
    display: flex;
    flex-wrap: wrap;
    width: 125px;
    height: 23px;
    
  
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    
    display: flex;
    align-items: flex-end;
    color: #000000;
}

.paragrafoDois{
    display: block;
    padding: 16px;
}

.newYork{
  margin: 16px;
}
=======
.contatos{
    display: grid;
    width: 340px;
    align-items: flex-start;
    height: 600px;
}
.contatos1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--bg-button-light-grey);
    border-radius: var(--border-radius);
    height: 425px;
    padding: 15px;
    gap: 15px;
    background-color: var(--bg-white);
}
.button_contatos1{
    width: 300px;
    height: 48px;
    background: var(--bg-button-dark-grey);
    border-radius: var(--border-radius);
    margin: auto;
    margin-bottom: 0;
    color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 19px;
    border: none;
    font-size: 16px;
    
}
.cardchar{
    display: flex;
    width: 300px;


}
.cardchar h2{
    font-weight: bold;
    font-size: 24px;
    align-items: flex-end;
}
.cardchar p{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13px;
}
.char1{
    margin-top: 20px;
}
.textobotao{
    display: grid;
    margin: auto;
    margin-left: 10px;
}
.contatos1 h1{
   font-weight: bolder;
   font-size: 25px;
}

.buttonadd{
    width: 30px;
    height: 30px;
    background-color: var(--bg-button-light-grey);
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    border-radius: var(--border-radius);
    margin-right: 0;
}
.news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    width: auto;
    height: auto;
    background-color: var(--bg-white);
    border-radius: var(--border-radius);
    border: 1px solid var(--bg-button-light-grey);
    margin-top: 20px;
    position: relative;
}
.news h1{
    font-weight: bolder;
    font-size: 25px;
 }
 .news h2{
    font-weight: 500;
    font-size: 15px;
}
.news p{
    font-weight: 200;
    font-size: 12px;
 }
 .textnews{
    margin-top: 20px;
 }
 .arrow{
    width: 48px;
    height: 48px;
    border-radius: var(--border-radius);
    background-color: var(--bg-button-darker-grey);
    position: absolute;
    top: -15px;
    right: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px var(--bg-button-light-grey);
 }
 @media (max-width:992px){
    .contatos{
        display: none;
    }
 }
 @media (max-width:667px){
    .personal{
        display: none;
    }
    .contatos{
        display: none;
    }
 }
>>>>>>> 9a97b7560499acdde5a078de26412b40c1c793d2
